extends ./layout/layout

block side_nav
  .layui-side.layui-bg-black
    .layui-side-scroll
      ul.layui-nav.layui-nav-tree(lay-shrink='all')
        li.layui-nav-item.layui-nav-itemed
          a(href='javascript:;') 管理员管理
          dl.layui-nav-child
            dd.layui-this
              a(href='/admin/list') 所有管理员
            dd
              a(href='/admin/add') 添加管理员
        li.layui-nav-item
          a(href='javascript:;') 用户管理
          dl.layui-nav-child
            dd
              a(href='javascript:;') 所有用户

block body
  .layui-body
    div(style='padding: 15px;')
      span.layui-breadcrumb
        a(href='javascript:;') 管理员管理
        a(href='javascript:;') 所有管理员
