extends ./layout/layout

block side_nav
  .layui-side.layui-bg-black
    .layui-side-scroll
      ul.layui-nav.layui-nav-tree(lay-shrink='all')
        li.layui-nav-item.layui-nav-itemed
          a(href='javascript:;') 小说管理
          dl.layui-nav-child
            dd.layui-this
              a(href='/admin/book/listPage') 所有小说
            dd
              a(href='/admin/book/addPage') 新增小说
        li.layui-nav-item
          a(href='javascript:;') 爬取规则管理
          dl.layui-nav-child
            dd
              a(href='javascript:;') 所有爬取规则
            dd
              a(href='javascript:;') 添加爬取规则

block body
  .layui-body
    div(style='padding: 15px;border-bottom: 1px solid #eee;')
      


  
