doctype html
html
  head
    title= title
    meta(charset='utf-8')
    link(rel='stylesheet', href='/layui/css/layui.css')    
    link(rel='stylesheet', href='/css/main.css')
    link(rel='stylesheet', href='/css/login.css')
    script(src='/layui/layui.js')
  body.layui-bg-black
    .login-box
      .login-box-header 管理员登录
      .login-box-body
        form.layui-form#login-form
          .layui-form-item
            input.layui-input(type='text', name='username', required, lay-verify='required', placeholder='请输入账号', autocomplete='off')
          .layui-form-item
            input.layui-input(type='password', name='password', required, lay-verify='required', placeholder='请输入密码', autocomplete='off')        
          .layui-form-item
            button.layui-btn#btn-login(type='button', lay-submit, lay-filter='login') 登录

  script(src='/js/admin_login.js')
