doctype html
html
  head
    title= title
    meta(charset='utf-8')
    link(rel='stylesheet', href='/layui/css/layui.css')    
    link(rel='stylesheet', href='/css/main.css')
    link(rel='stylesheet', href='/css/login.css')
    script(src='/layui/layui.js')
  body
    .login-box
      .login-box-header
        h1 管理后台
                
    
