extends ./layout/layout

block css 
  link(rel='stylesheet', href='/css/admin.css')

block side_nav
  .layui-side.layui-bg-black
    .layui-side-scroll
      ul.layui-nav.layui-nav-tree(lay-shrink='all')
        li.layui-nav-item
          a(href='javascript:;') 小说管理
          dl.layui-nav-child
            dd
              a(href='/admin/book/listPage') 所有小说
            dd
              a(href='/admin/book/addPage') 新增小说
        li.layui-nav-item.layui-nav-itemed
          a(href='javascript:;') 爬取规则管理
          dl.layui-nav-child
            dd
              a(href='/admin/book/rule/listPage') 所有爬取规则
            dd.layui-this
              a(href='/admin/book/rule/addPage') 添加爬取规则

block body
  .layui-body
    div(style='padding: 15px;border-bottom: 1px solid #eee;')
      span.layui-breadcrumb
        a(href='javascript:;') 小说管理
        a(href='javascript:;') 爬取规则管理
        a(href='javascript:;') 添加爬取规则
      .add-block#rule-add-block
        form.layui-form.layui-form-pane
          .layui-form-item
            label.layui-form-label 对应小说名称
            .layui-input-block
              select#book-select(lay-verify='required', required, lay-search, name='book', lay-filter='bookname')
                each book in bookList
                  option(value=book._id)=book.name
          .layui-form-item
            label.layui-form-label 爬取目标网址
            .layui-input-block
              input.layui-input(type='text', name='targetUrl', lay-verify='required', placeholder='请输入要爬取小说对应的页面网址', autocomplete='off')
          .layui-form-item
            label.layui-form-label 目录页章节类选择器
            .layui-input-block
              input.layui-input(type='text', name='listSign', lay-verify='required', placeholder='请输入要爬取小说目录页章节类选择器', autocomplete='off')
          .layui-form-item
            label.layui-form-label 内容页链接所在标签属性
            .layui-input-block
              input.layui-input(type='text', name='inWhatAtrr', lay-verify='required', placeholder='请输入要爬取小说目录页中对应内容页链接所在标签属性', autocomplete='off')
          .layui-form-item
            label.layui-form-label 内容页章节内容选择器
            .layui-input-block
              input.layui-input(type='text', name='contentSign', lay-verify='required', placeholder='请输入内容页章节内容选择器', autocomplete='off')
          .layui-form-item
            label.layui-form-label 内容页章节标题选择器
            .layui-input-block
              input.layui-input(type='text', name='titleSign', lay-verify='required', placeholder='请输入内容页章节标题选择器', autocomplete='off')
          .layui-form-item
            .layui-input-block
              button.layui-btn#btn-submit(type='button', lay-submit) 确定
              button.layui-btn.layui-btn-primary#btn-reset(type='reset') 重置


block scripts
  script(src='/js/rule_add.js')
