.add-block{
  margin-top: 20px;
  padding: 20px;
  /* background-color: #f2f2f2; */
  border: 1px solid #eee;
}


/*管理员列表 */
.admin-list{
  margin: 20px;
  border: 1px solid #eee;
}


#rule-add-block .layui-form-pane .layui-form-label{
  width: 200px;
}
#rule-add-block .layui-form-pane .layui-input-block{
  margin-left: 200px;
}
