@charset "UTF-8";

html, body{
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

#admin-baseinfo{
  padding: 20px;
}

#admin-baseinfo .avatar{
  position: relative;
  width: 100px;
  height: 100px;
  margin: 20px auto 50px;
}
#admin-baseinfo img{
  width: 100px;
  height: 100px;
}
#admin-baseinfo .avatar #btn-modify-avatar{
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background-color: rgba(0,0,0,.3);
  border: 0;
  outline: 0;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
}
#admin-baseinfo .avatar #upload-text{
  height: 40px;
  line-height: 40px;
  text-align: center;
}

#modal-book-detail .cover{
  float: left;
  position: relative;
  width: 120px;
  height: 150px;
  margin-bottom: 40px;
}

#modal-book-detail #cover{
  width: 120px;
  height: 150px;
}

#modal-book-detail #btn-modify-cover{
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 150px;
  background-color: rgba(0,0,0,.3);
  border: 0;
  outline: 0;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
}


#modal-book-import .layui-form-pane .layui-form-label{
  width: 200px;
}
#modal-book-import .layui-form-pane .layui-input-block{
  margin-left: 200px;
}
