.layui-header
  .layui-logo 管理后台
  ul.layui-nav.layui-layout-left
    li.layui-nav-item
      a(href='/admin/book/listPage') 小说管理
    li.layui-nav-item
      a(href='/admin/listPage') 用户管理
  ul.layui-nav.layui-layout-right
    li.layui-nav-item
      a(href='#')
        img.layui-nav-img(src=session.avatar)
        | Admin
      dl.layui-nav-child
        dd
          a(href='#') 基本资料
        dd
          a(href='#') 修改密码
    li.layui-nav-item
      a(href='/admin/logout') 退出
