doctype html
html
  head
    title= title
    meta(charset="utf-8")
    link(rel="stylesheet", href="/layui/css/layui.css")
    link(rel="stylesheet", href="/css/main.css")
    block css

    script(src="/layui/layui.js")
  body.layui-layout-body
    .layui-layout.layui-layout-admin
      include header
      //- side_nav
      block side_nav
      //- body
      block body
      
    
      include footer
      
    #admin-baseinfo(style='display: none')
      form.layui-form.layui-form-pane
        .layui-upload.avatar
          .layui-upload-list
            img.layui-upload-img#avatar(src=session.avatar)
            p#upload-text
          button#btn-modify-avatar(type='button') 修改头像 
        .layui-form-item
          label.layui-form-label 用户名
          .layui-input-inline
            input.layui-input(type='text', name='username', value=session.username)
        .layui-form-item(style='text-align: center;')
          button.layui-btn.layui-btn-normal#btn-modify-username(type='button', lay-submit, lay-filter='uname') 修改用户名          
    //- script
    
    script(src='/js/admin.js')
      
    
      
    block modal  
    block scripts
