doctype html
html
  head
    title= title
    meta(charset="utf-8")
    link(rel="stylesheet", href="/layui/css/layui.css")
    link(rel="stylesheet", href="/css/main.css")
    block css

    script(src="/layui/layui.js")
  body.layui-layout-body
    .layui-layout.layui-layout-admin
      include header
      //- side_nav
      block side_nav
      //- body
      block body
      
    
      include footer
      
    #self-info(style='display: none')
      form.layui-form
        .avatar
          img(src=session.avatar)
        
    //- script
    script.
      layui.use(['element', 'layer'], function(){
        var element = layui.element;
        var layer = layui.layer;
      });
    
      
    block modal  
    block scripts
